
<div class="formblock">
  <%= form_for(@video) do |f| %>
    <% if @video.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@video.errors.count, "error") %> prohibited this video from being saved:</h2>

        <ul>
        <% @video.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :vehicle_id %><br>
      <%= f.collection_select(:vehicle_id, Vehicle.all, :id, :name) %>
    </div>
    <div class="field">
      <label for="video_country_id">country</label><br>
      <%= f.collection_select(:country_id, Country.all, :id, :name) %>
    </div>
    <div class="field" id="city_field">
      <label for="video_state_id">city</label><br>
      <%= f.collection_select(:city_id, City.all, :id, :name) %>
    </div>
    <div class="field">
      <%= f.label :title %><br>
      <%= f.text_field :title %>
    </div>
    <div class="field">
      <%= f.label :description %><br>
      <%= f.text_area :description %>
    </div>
    <div class="field">
      <%= f.label :youtube_embed_code %><br>
      <%= f.text_field :url %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</div>



