<div class="videotitle">
  <h1><%= @video.title + '.' %></h1>
</div>

<iframe src="http://www.youtube.com/embed/<%= @video.url %>"></iframe>

<div class="videoshow">
  <%= link_to "UPFAME.", like_video_path(@video), method: :put %>
  <% if @video.user_id == current_user.id %> 
    <%= link_to 'EDIT.', edit_video_path(@video) %>
    <%= link_to 'DELETE.', method: :destroy %> 
  <% end %><br>

  <p><%= @video.description %></p>

  <div class="fameshow">
    <h2><%= @video.votes_for.size %> FAME.</h2>
  </div>

  <h2>tricks.</h2>

  <div class="trickshow">
    <% @tricks.each do |trick| %>
      <% if trick.video_id == @video.id %>
        <ul class="small-block-grid-3 trickrow">
          <li><p><%= trick.timestamp.strftime("%M:%S") %></p></li>
          <li>
            <p><% trick.types.each do |type| %>
                 <%= type.name + '.' %>
               <% end %>
            </p>
          </li>
          <li><p><%= trick.comment %></p></li>
        </ul>
      <% else %>
      <% end %>
    <% end %>
  </div>

</div>
