<p id="notice"><%= notice %></p>

<iframe src="http://www.youtube.com/embed/<%= @video.url %>"></iframe>
<div class="videoshow">
  <h2><%= @video.title %></h2>
  <p><%= @video.description %></p>
  <%= link_to 'EDIT', edit_video_path(@video) %> |
  <%= link_to 'DELETE', method: :destroy %> <br><br>
  <div class="trickshow">
    <h3>tricks.</h3>
    <%= @tricks %>
  </div>
</div>