
<iframe src="http://www.youtube.com/embed/<%= @video.url %>"></iframe>
<div class="videoshow">
  <h2><%= @video.title %></h2>
  <h3>fame <%= @video.votes_for.size %></h3>
  <p><%= @video.description %></p>
  <%= link_to 'EDIT', edit_video_path(@video) %> |
  <%= link_to 'DELETE', method: :destroy %> <br><br>
  <h3>tricks.</h3>
  <div class="trickshow">
    <% @tricks.each do |trick| %>
      <% if trick.video_id == @video.id %>
        <%= trick.timestamp.strftime("%M:%S") %>
        <% trick.types.each do |type| %>
          <%= type.name.capitalize %>
        <% end %>
        <%= trick.comment %>
        <br>
      <% else %>
      <% end %>
    <% end %>
  </div>
</div>
