<p id="notice"><%= notice %></p>

<div class="videoshow">
  <h2><%= @video.title %></h2>
  <iframe src="http://www.youtube.com/embed/<%= @video.url %>"></iframe>
  <h3><%= @video.description %></h3>
  <%= link_to 'EDIT', edit_video_path(@video) %> |
  <%= link_to 'DELETE', method: :destroy %>
</div>