<div class="userinfo">
  <%= image_tag current_user.graffiti_image.url %>
  <div class="usernamefame">
    <h3><%= current_user.username %></h3>
    <p>fame <%= current_user.fame %></p>
    <%= button_to "new video", new_video_path, :method => "get" %>
  </div>
</div>
<h2>HOME.</h2>

<%= render @videos %>
