<div class="userinfo">
  <% if current_user.graffiti_image.present? %>
    <%= image_tag current_user.graffiti_image.url %>
  <% else %>
    <%= image_tag current_user.image %>
  <% end %>  
  <div class="usernamefame">
    <h3><%= current_user.username %></h3>
    <p><%= @fame %> fame </p>
    <%= button_to "NEW VIDEO.", new_video_path, :method => "get" %>
  </div>
</div>
<h1>HOME.</h1>

<%= render @videos %>


