<div class="userinfo">
<% if @user.graffiti_image.present? %>
  <%= image_tag @user.graffiti_image.url %>
<% else %>
  <%= image_tag @user.image %>
<% end %>
  <div class="usernamefame">
    <h2><%= @user.username + '.' %></h2>
    <p>fame <%= @user.fame %></p>
  </div>
</div>

<%= render @user.videos %>



