<div class="userinfo">
<% if @user.graffiti_image.present? %>
  <%= image_tag @user.graffiti_image.url %>
<% else %>
  <%= image_tag @user.image %>
<% end %>
  <div class="usernamefame">
    <p>fame <%= @user.fame %></p>
  </div>
</div>

<h2><%= @user.username.capitalize + '.' %></h2>

<%= render @videos %>



