<h1>HOME.</h1>
<div class="useronly">
  <div class="userinfo">
    <% if current_user.graffiti_image.present? %>
      <%= image_tag current_user.graffiti_image.url %>
    <% else %>
      <%= image_tag current_user.image %>
    <% end %>  
    <div class="usernamefame">
      <h2><%= current_user.username + '.' %></h2>
      <p><%= current_user.fame %> fame </p>
      <%= button_to "NEW VIDEO.", new_video_path, :method => "get" %>
    </div>
  </div>
</div>

<%= render @videos %>
